@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   html , body {
     @apply custom-scrollbar
   }
}
@layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    border-radius: 0;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

}